#add_button:hover{
			filter: drop-shadow(0 0 5px #15a4fa);
		}

#add_button {
			display:flex;
			position:relative;
			border-radius: 5px;
			background-color: #f2795a;
			height:45px;
			width:160px;
			self-align:center;
			color:white;
			font-family: Proxima Nova Bold;
			font-size:14px;
			font-weight:bold;
			justify-content:center;
			align-items:center;
			margin:30px;
			margin-bottom:40px;
		}
#add_button span {
	font-size:25px; 
	color:white; 
	margin-right:15px;
}	