#footer {
	grid-area:foot;
	display:flex;
	flex-wrap:nowrap;
	align-items:stretch;
	justify-content: flex-end;
	background-color: #2f364a;
	margin-bottom:-10px;
	width:auto;
}
.footer_item {
	height:100%
}
.footer_item svg {
	padding:15px 20px;
	width:15px;
	height:15px;
}