		#search {
			grid-area:search;
			display:flex;
			flex-direction:row;
			flex-wrap:nowrap;
			align-items:center;
			justify-content: flex-end;
		}
		#search_field {
			display:flex;
			flex-direction:row;
			flex-wrap:nowrap;
			align-items:center;
			justify-content: flex-end;
			border-radius:15px;
			border:1px solid #cdd2df;
			background-color:white;
			margin-right:20px;
			width:400px;
			height:30px;	
		}
		#search_input {
			height:20px; 
			width:350px; 
			margin-left:20px; 
			border-color:transparent;
			font-size:13px;
			font-family: Proxima Nova;
		}
		#search_field label img {
			margin-top:5px; 
			margin-left:5px; 
			margin-right:20px;
		}