.stars {
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content: stretch;
	align-items:center;
}
#stars_parent {
	display: block;
	height:15px;
	margin-top:15px;
}

.SVGstars {
	stroke:#ffab00;
	fill-rule:evenodd;
	fill:none;
}